{{>header}}

    <div class="canvas">
        <div class="buttons">
            <button type="button" id="start">Start</button>
            <button type="button" id="stop">Stop</button>
            <button type="clear" id="clear">Clear</button>
        </div>
        <canvas id="canvas" width="800" height="800" style="border: 1px solid black;" />
    </div>


    <script src="js/Random.js"></script>
    <script src="js/Canvas.js"></script>
    <script src="js/gamoflife.js"></script>

{{>footer}}