<!DOCTYPE html>

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Desafio</title>
    <link rel="stylesheet" href="/style/reset.css">
	<link rel="stylesheet" href="/style/style.css">
	<link rel="stylesheet" href="/style/{{style}}">
</head>
<body>

	<header>
		<div class="navbar">
			<h1 class="titulo">{{title}}</h1>

			<nav class="nav-menu">
				<a class="nav-item" href="/">Jogo da Vida</a>
				<a class="nav-item" href="/numero-romano">Conversor</a>
				<a class="nav-item" href="/divisor-de-conta">Dividor Conta</a>
			</nav>
		</div>

	</header>
