.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 20px;
  }
  
.inputRomano, .resultado, .inputInteiro, .resultadoInteiro {
    margin-top: 20px;
}
